* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  
}



html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: auto;

}


a {
  color: inherit;
  text-decoration: none;
}



:root{
  --whiteColor:white;
  --whiteSmokeColor:whitesmoke;
  --redColor:red;
  --baseColor: whitesmoke;
  --secondaryColor: black;
  --callToAction: red
}

.loadingContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  
}


.loadingIcon{
  animation: loading .8s  ease-in-out 0s infinite;
}

@keyframes loading {
  from{
    transform: rotate(0deg);
  }

  to{transform: rotate(360deg);}
}
/*HOME PAGE*/

.homePage {
  transition: all .5s;
}
.section{
  margin: 2rem auto;
  width: 80%;
}


.cardWrapper {
  
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow:inset -5px -10px 2px whitesmoke,inset 5px 10px 2px rgba(0, 0, 0, 0.5);
}



.card {
  width: 25%;
  height: 25%;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.5s;
  box-shadow:inset 1px 1px 2px 2px rgba(0, 0, 0, 0.5),-1px -1px 2px 2px rgba(0, 0, 0, 0.5);
  
}

.card:hover {
  cursor: pointer;
  width: 24%;
  height: 24%;

}

.cardDetails {
  display: flex;
  justify-content: space-between;
}

.price {
  color: var(--redColor);
  font-size: 1.2rem;
}

.productName{
  color: gray;
}
.card img {
  border-radius: 1rem;
  object-fit: fill;
}












@media  (max-width:650px) {

  html,body{
    min-width: 800px;
  }


  .cardWrapper{
    width: 600px;
    overflow-x: auto;
  }

    .card {
      width: 150px;
      height: 150px;
    }

    

    .price{
      font-size: 1rem;
    }
    .productName{
      font-size: .6rem;
    }
}